<div class="footer">
    <p class="text-center"> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <br><br> Developed by <a href="http://DamandeepSingh.com" target="_blank">DamandeepSingh.com</a>
             </p>
          
             Follow on: 
             <br><br>
             <div class="social-links ">
               <a href="https://twitter.com/damanSTExp" class="twitter "><i class="icofont-twitter iconsize"></i></a>
               <a href="https://www.facebook.com/damanSTExp/" class="facebook"><i class="icofont-facebook iconsize"></i></a>
               <a href="https://instagram.com/damanSTExp" class="instagram "><i class="icofont-instagram iconsize"></i></a>
               <a href="https://github.com/damanSTExp" class="github "><i class="icofont-github iconsize"></i></a>
               <a href="https://www.linkedin.com/in/damanSTExp/" class="linkedin "><i class="icofont-linkedin iconsize"></i></a>
           </div>           
</div>