<!doctype html>
<html lang="en">

<head>
    <!-- Favicons -->
    <link href="/images/favicon/favicon.png" rel="icon">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- icofont -->
    <link href="/icofont/icofont.min.css" rel="stylesheet">
    <!-- Twitter Bootstrap CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Template Main CSS File -->
    <link href="/stylesheets/style.css" rel="stylesheet">
   
    <!--
            Student’s Name - Damandeep Singh, 
            StudentID - 301170650, 
            Date  03 October, 2021-->
    <title>
        <%- title %> -Damandeep Singh</title>
    </head>

    <body>
        <div class="wrapper d-flex align-items-stretch">
         <%- include('partials/page_header'); %>

        
        <div id="content" class="p-4 p-md-5" style="background-image:url(/images/homebg.png);background-size:100% 100%">
           
          <h1 class="text-danger">
              I am<br> Damandeep Singh
              <br><br> <br> 
              <span style="color:white;" >SOFTWARE TESTING EXPERT</span>


          </h1>
          <br>
          <br>
                   
          Follow Me: 
          <div class="social-links ">
            <a href="https://twitter.com/damanSTExp" class="twitter "><i class="icofont-twitter iconsize"></i></a>
            <a href="https://www.facebook.com/damanSTExp/" class="facebook"><i class="icofont-facebook iconsize"></i></a>
            <a href="https://instagram.com/damanSTExp" class="instagram "><i class="icofont-instagram iconsize"></i></a>
            <a href="https://github.com/damanSTExp" class="github "><i class="icofont-github iconsize"></i></a>
            <a href="https://www.linkedin.com/in/damanSTExp/" class="linkedin "><i class="icofont-linkedin iconsize"></i></a>
        </div>
              
        </div>
              </div>

<script src="/js/bootstrap.js"></script>
</body>
</html>









        