<!doctype html>
<html lang="en">

<head>
    <!-- Favicons -->
    <link href="/images/favicon/favicon.png" rel="icon">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- icofont -->
    <link href="/icofont/icofont.min.css" rel="stylesheet">

    <!-- Twitter Bootstrap CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Template Main CSS File -->
    <link href="/stylesheets/style.css" rel="stylesheet">
     <!--
            Student’s Name - Damandeep Singh, 
            StudentID - 301170650, 
            Date  03 October, 2021-->
    <title>
        <%- title %> -Damandeep Singh</title>
    </head>

    <body>
        <div class="wrapper d-flex align-items-stretch">
            <%- include('partials/page_header'); %>

            <div id="content" class="p-4 p-md-5" >
                <h4 class='text-info'>About us:</h4>
                <hr class="thumbnail">
               <div class="row">
                <div class="col-lg-4"> 
                    <h4 class='text-info'>My Testing Process:</h3>
                    <img src="/images/aboutus.png" class="img-thumbnail"  />

                </div>
                <div class="col-lg-8"> 
                    <h3>As a Software Tester: Free Lancer</h3>
                   
                    <div class="row">
                        <div class="col-lg-2"><label>Name</label></div>
                        <div class="col-lg-4"><label>Damandeep Singh</label></div>
                        <div class="col-lg-3"><label>Date of Birth</label></div>
                        <div class="col-lg-2"><label>1 Feb 2002</label></div>
                    </div>   

                    <div class="row">
                        <div class="col-lg-2"><label>Email</label></div>
                        <div class="col-lg-10"><label>dsing521@my.centennialcollege.ca</label></div>
                                                
                    </div>   
                    <div class="row">
                        <div class="col-lg-2"><label>Website</label></div>
                        <div class="col-lg-10"><label>http://www.DamandeepSingh.com</label></div>
                                                
                    </div>  
                    <div class="row">
                        <div class="col-lg-2"><label>Qualification</label></div>
                        <div class="col-lg-10"><label>High School from Innocent hearts  </label></div>
                                                
                    </div>    
                    <p class="text-justify" style="font-size:15px;line-height: 2;">

                        My name is Damandeep Singh. I'm a Software Engineering technology - Artificial Intelligence student at Centennial College. I was born and raised in Punjab, India. I did senior schooling at Innocent hearts school, Jalandhar, Punjab, India. I am a software engineering student passionate about programming, testing and designing. I had a huge interest in Software since I was a child. I used to watch youtube videos and explore the internet to learn more about designing and understanding computer language believing that it can make a huge impact in the world and can help lots of people to make their work more easily. I am interested in working for a company that would make utilization of my potential and so can gain experience and start up my own company.
                    </p>
                </div>
               </div>
                    
            </div>
                    </div>
      
      <script src="/js/bootstrap.js"></script>
      </body>
      </html>
      
      
        


               