<!doctype html>
<html lang="en">

<head>
    <!-- Favicons -->
    <link href="/images/favicon/favicon.png" rel="icon">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- icofont -->
    <link href="/icofont/icofont.min.css" rel="stylesheet">

    <!-- Twitter Bootstrap CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Template Main CSS File -->
    <link href="/stylesheets/style.css" rel="stylesheet">
     <!--
            Student’s Name - Damandeep Singh, 
            StudentID - 301170650, 
            Date  03 October, 2021-->
    <title>
        <%- title %> -Damandeep Singh</title>
    </head>

    <body>
        <div class="wrapper d-flex align-items-stretch">
            <%- include('partials/page_header'); %>

            <div id="content" class="p-4 p-md-5" >
                <h4 class='text-info'>Contact us:</h4>
                <hr class="thumbnail">
               <div class="row">
                <div class="col-lg-5"> 
                    
                    <img src="/images/Contact_Us.png" class="img-thumbnail"  /><br>
                    Email: dsing521@my.centennialcollege.ca
                    <br>
                    Website: http://www.DamandeepSingh.com<br>
                    Mobile: +1 6475093945
                </div>
                <div class="col-lg-7"> 
                    <h2 class="text-center">Contact us Form:</h2>
                    
                    <div class="row">
                            
                            <div class="col-lg-12"><label>Name</label><input type="text" Name="yourname" class="form-control" required /></div>

                            <div class="col-lg-12"><label>EmailID</label><input type="email" Name="yourname" class="form-control" required /></div>
                            
                            <div class="col-lg-12"><label>Subjects</label><input type="text" Name="subject" class="form-control" required /></div>
                            <div class="col-lg-12"><label>Reason for Contact</label><textarea Name="reason" class="form-control" rows="5" required></textarea></div>
                            <div class="col-lg-3">
                                <br>
                                <input type="submit" Name="sentContactForm" class="btn btn-danger form-control" value="Submit" />
                            </div>
                            <div class="col-lg-3">
                                <br>
                                <input type="submit" Name="reset" class="btn btn-danger form-control" value="Reset" />
                            </div>
                            
                        </div>
                    
                </div>
               </div>
                    
            </div>
                    </div>
      
      <script src="/js/bootstrap.js"></script>
      </body>
      </html>
      
      
        


               